<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="p-3">
<header class="pb-3">
<div class="d-flex justify-content-evenly" style="width:100px;">
  <a href="/"><i class="fa-solid fa-home"></i></a>
  <a href="/Test"><i class="fa-solid fa-flask-vial"></i></a>
</div>
</header>

<div style="margin:0 0 10px 50px;">
  <a href="/test-users"><i class="fa-solid fa-list"></i></a>
  <h1>User List</h1>
  <div>
    <input type="string" id="username" placeholder="User" value="name"/>
    <input type="string" id="userage" placeholder="Age" value=""/>
    <button id="btn_post">등록</button>
  </div>
</div>
<div style="margin-left:30px;">
<table>
  {% if users %}
    {% for user in users %}
    <tr>
      <td>{{ user.idx }}</td>
      <td><input text="string" id="username_{{ user.idx }}" value="{{ user.name }}"></td>
      <td><input text="string" id="userage_{{ user.idx }}" value="{{ user.age }}"></td>
      <td><button userid="{{ user.idx }}" class="btn btn-primary" onclick="modifyUser(this)">수정</button></td>
      <td><button userid="{{ user.idx }}" class="btn btn-primary" onclick="deleteUser(this)">삭제</button></td>
    </tr>
    {% endfor %}
  {% else %}
  <tr>
    <td>No User..</td>
  </tr>
  {% endif %}
</table>
</div>

<script>
const c_name = document.querySelector('#username')
const c_age = document.querySelector('#userage')
const btn_post = document.querySelector('#btn_post')

async function sendData() {
  let username = c_name.value 
  let userage = c_age.value 
  let data = {}
  data['name'] = username
  data['age'] = userage
  console.log(data)
  let datastr = JSON.stringify(data)
  fetch('{{ domain }}/test-user', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: datastr
  }).then(response => response.text())
    .then(data => {
      console.log(`${data}`)
      window.location.href = '{{ domain }}/test-users'
      // location.reload()
    })
    .catch(error => console.log(`에러발생 ${error}`))
    .finally(() => {})
}
btn_post.addEventListener('click', (event) => {
  sendData()
})

function modifyUser(el) {
  let data = {}
  let idx = parseInt(el.getAttribute('userid'))
  data['idx'] = idx 
  data['name'] = document.querySelector(`#username_${idx}`).value
  data['age'] = document.querySelector(`#userage_${idx}`).value
  let datastr = JSON.stringify(data)
  console.log(`${datastr}`)
  fetch('{{ domain }}/test-user', {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json'
    },
    body: datastr
  }).then(response => response.text())
    .then(data => {
      console.log(`${data}`)
      window.location.href = '{{ domain }}/test-users'
    })
    .catch(error => console.log(`에러발생 ${error}`))
    .finally(() => {})
}

function deleteUser(el) {
  let idx = parseInt(el.getAttribute('userid'))
  fetch(`{{ domain }}/test-user/${idx}`, {
    method: 'DELETE',
  }).then(response => response.text())
    .then(data => {
      console.log(`${data}`)
      window.location.href = '{{ domain }}/test-users'
    })
    .catch(error => console.log(`에러발생 ${error}`))
    .finally(() => {})

}
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/eaa55c88d8.js" crossorigin="anonymous"></script>
</body>
</html>