<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>원준 > fetch</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="p-3">
<header class="pb-3">
<div class="d-flex justify-content-evenly" style="width:100px;">
  <a href="/"><i class="fa-solid fa-home"></i></a>
  <a href="/Test"><i class="fa-solid fa-flask-vial"></i></a>
</div>
</header>

<h1>{{ domain }}</h1>
<div><form method="post" id="form1">
  <input type="string" id="name" class="form-control">
  <input type="number" id="age" class="form-control">
  <button type="submit" class="btn btn-primary">전송</button>
</form></div>

<script>
/* 
# api sites
https://free-apis.github.io/
https://publicapis.dev/
https://rapidapi.com/collection/list-of-free-apis
http://worldtimeapi.org/

# fetch
https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
https://ko.javascript.info/fetch
https://www.youtube.com/watch?v=2sQ9xiEAXNo

# fastapi tutorial and examples
https://www.youtube.com/watch?v=XnYYwcOfcn8&list=PLqAmigZvYxIL9dnYeZEhMoHcoP4zop8-p
https://www.youtube.com/watch?v=S-XvcwNcYp4&list=PLr_ki3_GfpZMTSdQehJRrIwuDGOHh5LvB&index=5
*/
const form1 = document.querySelector('#form1')
const form1Data1 = new FormData(form1)
const form1Data2 = {}
async function sendData1() {
  console.log(typeof form1Data1)
  console.log('----------')
  form1Data1.append('name', form1.name.value)
  form1Data1.append('age', form1.age.value)
  for(let e of form1Data1.entries()) {
    console.log(`key: ${e[0]}, value: ${e[1]}`)
  }
  console.log('----------')
  for(let k of form1Data1.keys()) {
    console.log(`key: ${k}, `)
  }
  console.log('----------')
  for(let v of form1Data1.values()) {
    console.log(`value: ${v}, `)
  }
  console.log('----------')
  console.log(`${form1.name.value}, ${form1.age.value}`)
  console.log('----------')
  /* 'Content-Type'
  text/plain
  image/png image/jpeg image/gif image/webp
  text/javascript
  multipart/form-data
  application/json
  */
  fetch('{{ domain }}/test-fetch-post1', {
    method: 'POST',
    headers: {
      'Content-Type': 'multipart/form-data'
    },
    body: form1Data1
  }).then(response => response.json())
    .then(data => console.log(`data: ${data}`))
}

form1.addEventListener('submit', (event) => {
  event.preventDefault()
  sendData1()
})
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/eaa55c88d8.js" crossorigin="anonymous"></script>
</body>
</html>