<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>원준 > City List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="p-3">
<header class="pb-3">
</header>
<div class="container">
  <header>
  <div class="d-flex justify-content-evenly" style="width:100px;">
    <a href="/"><i class="fa-solid fa-home"></i></a>
    <a href="/Test"><i class="fa-solid fa-flask-vial"></i></a>
  </div>
  <a href="/test-cities"><i class="fa-solid fa-list"></i></a>
  <h1>City List</h1>
  </header>
  <main>
    <div>
      <input type="string" id="name_" placeholder="도시명" value="서울">
      <input type="string" id="timezone_" placeholder="Asia/Seoul" value="Asia/Seoul">
      <button id="btn_post">등록</button>
    </div>
    <div>
      <table>
      {% if rs_city %}
        {% for city in rs_city %}
        <tr id="citybox_{{ city.idx }}">
          <td>{{ city.idx }}</td>
          <td><input type="text" id="name_{{ city.idx }}" value="{{ city.name }}"></td>
          <td><input type="text" id="timezone_{{ city.idx }}" value="{{ city.timezone }}"></td>
          <td>{{ city.current_time }}</td>
          <td><a href="/test-cities/{{ city.idx }}"><button class="btn btn-primary">VIEW</button></a></td>
          <td><button idx="{{ city.idx }}" onclick="modifyCity(this)" class="btn btn-primary">Modify</button></td>
          <td><button idx="{{ city.idx }}" onclick="deleteCity(this)" class="btn btn-primary">Delete</button></td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>No city list...</td>
        </tr>
      {% endif %}
      </table>
    </div>
  </main>
  <footer></footer>
</div>

<script>
const c_name = document.querySelector('#name_')
const c_timezone = document.querySelector('#timezone_')
const btn_post = document.querySelector('#btn_post')

async function sendPostCity() {
  let city_name = c_name.value
  let city_timezone = c_timezone.value
  let data = {}
  data['name'] = city_name
  data['timezone'] = city_timezone
  console.log(data)
  let datastr = JSON.stringify(data)
  let cityFormData = new FormData()
  cityFormData.append('name', city_name)
  cityFormData.append('timezone', city_timezone)

  //---------- 데이터를 HTML Form 형태로 보내는 방법----------
  // fetch('{{ domain }}/test-cities-1', {
    // method: 'POST',
    // body: cityFormData
  //---------- 데이터를 json 형태로 보내는 방법----------
  fetch('{{ domain }}/test-cities-2', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: datastr
  }).then(response => response.json())
    .then(data => {
      console.log(`${data.name}`)
      // Simulate a mouse click:
      // window.location.href = "http://www.w3schools.com";
      // Simulate an HTTP redirect:
      // window.location.replace("http://www.w3schools.com");
      window.location.href = '{{ domain }}/test-cities'
    })
    .catch(error => console.log(`에러발생. ${error}`))
    .finally(() => {})
}
btn_post.addEventListener('click', (event) => {
  sendPostCity()
})

function modifyCity(elm) {
  let idx = parseInt(elm.getAttribute('idx'))
  let data = {}
  data['idx'] = idx
  data['name'] = document.querySelector(`#name_${idx}`).value
  data['timezone'] = document.querySelector(`#timezone_${idx}`).value
  console.log(data)
  // return {'result': 'ok'}
  let datastr = JSON.stringify(data)
  // console.log(`modify idx: ${idx}`)
  fetch(`{{ domain }}/test-cities`, {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json'
    },
    body: datastr
  }).then(response => response.json())
    .then(data => {
      console.log(`${data['result']}`)
      window.location.href = '{{ domain }}/test-cities'
    })
    .catch(error => console.log(`에러발생. ${error}`))
    .finally(() => {})

}

function deleteCity(elm) {
  let idx = parseInt(elm.getAttribute('idx'))
  // console.log(`delete idx: ${idx}`)
  fetch(`{{ domain }}/test-cities/${idx}`, {
    method: 'DELETE'
  }).then(response => response.json())
    .then(data => {
      console.log(`${data['result']}`)
      window.location.href = '{{ domain }}/test-cities'
    })
    .catch(error => console.log(`에러발생. ${error}`))
    .finally(() => {})
}
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/eaa55c88d8.js" crossorigin="anonymous"></script>
</body>
</html>