<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="p-3">
<div class="container">
<header class="pb-3">
<div class="d-flex justify-content-evenly" style="width:100px;">
  <a href="/"><i class="fa-solid fa-home"></i></a>
  <a href="/Test"><i class="fa-solid fa-flask-vial"></i></a>
</div>
</header>

<form id="userlogin" method="post" action="/form1" class="col-9 p-3">
<div class="input-group">
  <span class="input-group-text col-3">User Name</span>
  <input id="username" name="username" type="string" class="form-control">
</div>
<div class="input-group">
  <span class="input-group-text col-3">Password</span>
  <input id="password" name="password" type="password" class="form-control">
</div>
<div class="row d-flex justify-content-evenly pt-3">
  <button type="submit" class="btn btn-primary col-3">전송</button>
  <button type="reset" class="btn btn-primary col-3">초기화</button>
</div>
</form>

<div class="col-9 p-3">
<div class="row d-flex justify-content-evenly">
  <div id="loading" class="spinner-border text-primary" role="status" style="display:none;">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<pre id="result"></pre>
</div>

</div>

<script>
const form = document.querySelector('#userlogin')
const result = document.querySelector('#result')
const loading = document.querySelector('#loading')

async function sendData1() {
  const formData = new FormData(form)

  try {
    const response = await fetch('https://upj53-test.run.goorm.io/form1',{
      method: 'POST',
      body: formData
    })
    result_txt = await response.json()
    result.innerText = JSON.stringify(result_txt)
  } catch(e) {
    result.innerText = e
  }
}

/* fetch 함수 문법
fetch(url, options)
    .then(response => Method(response))
    .then(data => process(data))
    .catch(error => Error(error))
    .finally(() => Finally());
response는 서버로부터 받은 응답을 처리합니다.
data는 응답받은 데이터를 처리합니다.
catch는 응답에 실패할 경우 오류를 처리합니다.
finally는 요청이 끝났을 때 메소드를 수행합니다.
https://www.kobis.or.kr에서 데이터를 가져올 때 response를 거칩니다.
응답에 성공하면 data / 응답에 실패하면 catch를 호출합니다.
마지막에 finally로 요청을 마무리합니다.
*/

function sendData2() {
  loading.style.display = 'block'
  const formData = new FormData(form)
  fetch('https://upj53-test.run.goorm.io/form1', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    result.innerText = JSON.stringify(data)
  })
  .catch(error => {
    console.error('에러 발생: ', error)
  })
  .finally(() => {
    loading.style.display = 'none'
  })
}

form.addEventListener('submit', (event) => {
  event.preventDefault();
  sendData2()
})
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>